
<h2 class="text-center">
	Start Planning your Trip!!!
</h2>

<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center" width="25%">
							Places
						</th>
						<th class="text-center" width="75%">
							Map
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0'>
						<td>
						<input type="text" name='name0'  placeholder='Name' class="form-control"/>
						</td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>
	<a id="add_row" class="btn btn-default pull-left">Add a New Destination</a><a id='start_plan' class="pull-right btn btn-default">GO!</a>
</div>

